.projectCard {
  display: flex;
  text-align: left;
}

.projectCardImg {
  height: 150px;
}

.projectCardName {
  font-weight: bold;
}

.projectCardButtons {
  margin-top: 10px;
  margin-right: 5px;
}
