/* ================================================== */

#mainmenu {
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  float: none;
  padding-right: 20px;
  height: 70px;
}
#mainmenu ul {
  margin: 0px 0px;
  padding: 0px;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
  -moz-box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
  box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
}
#mainmenu li {
  margin: 0px 0px;
  float: left;
  display: inline;
  list-style: none;
  position: relative;
}
#mainmenu > li {
  font-weight: 500;

  padding: 30px 18px;
  padding-top: 29px;
}
#mainmenu a {
  display: inline-block;

  text-decoration: none;
  color: #fff;
  text-align: center;
  outline: none;
  border-radius: 3px;
}
#mainmenu a span {
  color: #ffffff;
  display: inline-block;
  margin-left: 10px;
  padding: 3px 5px 2px 5px;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 14px;
  border-radius: 3px;
}
#mainmenu li li a span {
  float: right;
  margin-top: 5px;
}
#mainmenu a.active span {
  width: 100%;
  margin-left: 0%;
}
.header-light #mainmenu > li > a {
  color: #222;
  font-weight: 600;
}
#mainmenu li li {
  font-size: 14px;
}
#mainmenu li li:last-child {
  border-bottom: none;
}
#mainmenu li li a {
  padding: 5px 15px;
  border-top: none;
  color: #35404e;
  width: 100%;
  border-left: none;
  text-align: left;
  font-weight: normal;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
#mainmenu li li a:hover {
  color: #111;
}
#mainmenu li li a:after {
  content: none;
}
#mainmenu li li li a {
  padding: 2px 15px 2px 15px;
  background: #171a21;
}
#mainmenu li li a:hover,
#mainmenu ul li:hover > a {
  color: #fff;
  background: #1a8b49;
}
#mainmenu li ul {
  width: 210px;
  height: auto;
  position: absolute;
  left: 0px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
#mainmenu li li {
  display: block;
  float: none;
  text-transform: none;
}
#mainmenu li:hover > ul {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
}
#mainmenu li ul ul {
  left: 100%;
  top: 0px;
}
#mainmenu li ul ul li a {
  background: #202020;
}
#mainmenu li:hover > ul {
  color: #1a8b49;
}
#mainmenu select {
  padding: 10px;
  height: 36px;
  font-size: 14px;
  border: none;
  background: #ff4200;
  color: #eceff3;
}
#mainmenu select option {
  padding: 10px;
}
#mainmenu .btn-type {
  padding: 0;
  margin: 0;
}
#mainmenu .btn-type a {
  background: #eee;
  padding: 0;
  margin: 0;
}

#mainmenu > li ul.mega {
  position: fixed;
  left: 0;
  height: 0%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
}
#mainmenu li:hover ul.mega {
  visibility: visible;
  opacity: 1;
}
#mainmenu li ul.mega > li,
#mainmenu li ul.mega > li a {
  width: 100%;
}
#mainmenu li ul.mega li.title {
  padding: 0px 10px 15px 10px;
  text-align: left;
  color: #fff;
  font-weight: bold;
}
#mainmenu li ul.mega > li ul {
  position: static;
  visibility: visible;
  opacity: 1;
  left: 0;
  float: none;
  width: 100%;
}
#mainmenu ul.mega > li ul li {
  margin: 0;
  padding: 0;
}

#mainmenu ul.mega > li ul li:last-child {
  border-bottom: solid 1px #333333;
}

#mainmenu li ul.mega .menu-content {
  background: #171a21;
  padding: 30px;
}
header.header-mobile #mainmenu > li ul.mega {
  visibility: visible;
  opacity: 1;
}
header:not(.header-mobile) #mainmenu > li:hover ul.mega {
  /* height: auto; */
}

/* menu toggle for mobile */

#menu-btn {
  display: none;
  float: right;
  margin-top: -3px;
  width: 32px;
  height: 32px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-left: 20px;
}
#menu-btn:before {
  font-family: FontAwesome;
  content: '\f0c9';
  font-size: 20px;
}
#menu-btn:hover {
  background: #fff;
}
#menu-btn:hover:before {
  color: #222;
}
header.header-mobile.header-light,
header.header-mobile.header-light #menu-btn,
header.header-mobile.header-light #menu-btn:hover {
  background: none;
}
header.header-mobile.header-light #menu-btn {
  color: #222;
}

/* ================================================== */
