h1:not(:first-child) {
  margin-top: 140px;
}
h1 {
  position: relative;
}
h1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px; // suit your need
  background: rgb(0, 168, 8); // suit your need
  top: 100%;
  left: 0;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.my-documentation {
  margin: 40px;
}

.my-documentation hr {
  margin-top: 40px;
  margin-bottom: 100px;
}

.my-documentation pre {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  border-width: 1px;
  border-top-style: solid;
  border-color: gray;
  font-style: italic;
}

.my-documentation table {
  color: black;
  margin: 0 0 20px 0;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.my-documentation table thead {
  background-color: lightgray;
}

.my-documentation table tbody tr td,
.my-documentation table thead th {
  color: black;
  padding: 5px 5px 10px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.my-documentation table tbody tr td {
  color: rgb(50, 50, 50);
}
